<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187788958576-dbv9mgb9o2p2aj6hsauvlhsq97vp1k7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187788958576-dbv9mgb9o2p2aj6hsauvlhsq97vp1k7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187788958576-3cdifnmkruffqngbmld5ittmpb1t6b70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUpdws6P9SOF_ZWYvDYW_gblus2DKoXCc</string>
	<key>GCM_SENDER_ID</key>
	<string>187788958576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qareeb.deliveryboy</string>
	<key>PROJECT_ID</key>
	<string>qareeb-31d01</string>
	<key>STORAGE_BUCKET</key>
	<string>qareeb-31d01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187788958576:ios:87035ddaff41773a544db5</string>
</dict>
</plist>